body {
    background-color: #ffdbac;
}

.title_bar {
    /* タイトルバー */
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    padding: 1px 0px;
    background-color: #ffb75a;
    font-size: larger;
    border-radius: 18px;
    border: solid 7px #ff9100;
}

.class_title{
    margin-left: 18px
}

.point_button {
    /* 三点リーダーボタン */
    background: #fffffff0;
    color: #000;
    font-size: 32px;
    padding: 7px 18px 7px 18px;
    border-radius: 18px;
    transition: background 0.3s;
    box-shadow: 0 2px 6px rgba(78, 140, 255, 0.08);
    cursor: pointer;
    float: right;
    margin-right: 18px;
}

.point_button:hover {
    /* 三点リーダーボタン接触時 */
    background: #eeeeeee0;
}

.reload_button {
    /* リロードボタン */
    background-color: #fffffff0;
    color: #000;
    font-size: 24px;
    padding: 7px 18px 7px 18px;
    border-radius: 18px;
    transition: background 0.3s;
    box-shadow: 0 2px 6px rgba(78, 140, 255, 0.08);
    cursor: pointer;
    margin: 7px 0 7px 0;
    display: none;
}

.reload_button:hover {
    /* リロードボタン接触時 */
    background: #eeeeeee0;
}

.logout_button {
    /* ログアウトボタン */
    background-color: #fffffff0;
    color: #FF0000;
    font-size: 24px;
    padding: 7px 18px 7px 18px;
    border-radius: 18px;
    transition: background 0.3s;
    box-shadow: 0 2px 6px rgba(78, 140, 255, 0.08);
    cursor: pointer;
    margin: 7px 0 7px 0;
    display: none;
}

.logout_button:hover {
    /* ログアウトボタン接触時 */
    background: #eeeeeee0;
}

.modal_close_button {
    /* モーダル閉じるボタン */
    background-color: #fffffff0;
    color: #000;
    font-size: 24px;
    padding: 7px 18px 7px 18px;
    border-radius: 18px;
    transition: background 0.2s;
    box-shadow: 0 2px 6px rgba(78, 140, 255, 0.08);
    cursor: pointer;
    margin: 7px 0 7px 0;
    display: none;
}

.modal_close_button:hover {
    /* モーダル閉じるボタン接触時 */
    background: #eeeeeee0;
}

.modal_box {
    background: #ffdbac;
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffffaa;
    display: none;  /* flexに */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #eee;
    border-top: 8px solid #f39121;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}