body { background-color: #ffdbac; }

#title {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%; height: auto;
    background-color: #ffb75a;
    z-index: 1000;
    box-shadow: 0 7px 7px rgba(0,0,0,0.7);
    border: solid 7px #ff9100;
}

#title_display, p {
    margin: 3px 0 3px 7px;
    display: inline-block;
}

#point_button {
    border-radius: 18px;
    width: 59px; height: 59px;
    font-size: 34px;
    float: right;
    margin: 3px;
    transition: background 0.3s;
    box-shadow: 0 3px 3px rgba(0,0,0,0.7);
}

#point_button:hover {
    cursor: pointer;
    background-color: #aeaeae;
}

#body{ padding-top: 100px; }

/* 一番下に記述　ここから */
#modal_background {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1001;
    display: none;
}

#modal_background.show {
    opacity: 1;
    display: flex;
}

#modal_window {
    background-color: #ffdbac;
    border: solid 7px #ff9100;
    border-radius: 18px;
    width: auto; height: auto;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.7);
    display: flex;
}

#close_button {
    cursor: pointer;
    color: #000;
    font-size: 195%;
    float: left;
    margin: 7px;
}

#close_button:hover {
    color: #ff0000;
}

.modal_buttons {
    margin: 95px;
    width: auto;
    font-size: 195%;
    border: solid 3px #000;
    box-shadow: 0 7px 7px rgba(0,0,0,0.7);
    border-radius: 18px;
    transition: background 0.3s;
}

#logout_button {
    color: #ff0000;
}

.modal_buttons:hover {
    background-color: #aeaeae;
    cursor: pointer;
}
/* 一番下に記述　ここまで */