body {background-color: #333333;}

#title {
    position: fixed;
    top: 0; left: 0;
    width: 99%; height: 84px;
    background-color: #121212;
    z-index: 1000;
    border: solid 7px #121212;
    border-bottom: none;
}

#title_display, p {
    margin: 3px 0 3px 7px;
    display: inline-block;
    color: #eee;
}

#title_display {
    font-size: 195%;
    font-weight: bolder;
}

p {font-size: 118%;}

#body{padding-top: 100px;}

#tab_buttons {
    margin-top: 90px;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    background-color: #121212;
    border: solid 7px #121212;
    border-top-color: #808080;
    border-top-width: 1px;
    border-bottom: none;
    width: 99%;
}

#tab_buttons button {
    padding: 6px 24px;
    border: solid 1px #808080;
    border-radius: 7px 7px 0 0;
    background-color: #121212;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    font-size: 103%;
    color: #eee;
}

#tab_buttons button.active_tab {
    background-color: #333333;
    z-index: 3000;
    border: solid 1px #4169E1;
}

#tab_buttons button.active_tab:hover {background-color: #333333;}

#tab_buttons button:hover {background-color: #333333;}

.tab_content {
    margin-top: 124px;
    display: none;
    position: fixed;
    top: 0; left: 0;
    background-color: #333333;
    width: 99%; height: 637px;
    border: solid 7px #333333;
    border-top-width: 1px;
    border-top-color: #808080;
}

.tab_content.show { 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

table { 
    margin: 7px;
    border-radius: 18px;
    background-color: #333;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.7);
    width: 98.5%; 
    border-spacing: 0;
    font-size: 124%;
    color: #eee;
}

table th {
    background-color: #4169E1;
    border: solid 3px #4169E1;
}

table th:first-child {border-radius: 18px 0 0 0;}

table th:last-child {border-radius: 0 18px 0 0;}

table td{
    border-bottom: solid 1px #5a9bff; 
    border-right: solid 1px #5a9bff;
}

table td:last-child {padding-left: 157px;}

table td:nth-child(2) {
    text-align: right;
    padding-right: 7px;
}

table tr:nth-child(even) {background-color: #444;}

table td:first-child {
    border-left: solid 1px #5a9bff;
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table tr:last-child td:first-child {border-bottom-left-radius: 18px;}

table tr:last-child td:last-child {border-bottom-right-radius: 18px;}

table th:nth-child(1), table td:nth-child(1) {width: 50%;}

table th:nth-child(2), table td:nth-child(2) {width: 20%;}

table th:nth-child(3), table td:nth-child(3) {width: 30%;}

.company_total_display_text {margin-left: 7px;}

.company_total_display_text_company_name {
    font-size: larger;
    font-weight: bolder;
}

input {width: 18px; height: 18px;}

span.soldout {color: #ff3737;}

span.onsale {color: #2f63ff;}

.tab_contents_table_tbody_td_sales_checkbox {cursor: pointer;}

.modal_buttons {
    background: #eee;
    color: #eee;
    border: none;
    border-radius: 18px;
    width: 47px; height: 47px;
    font-size: 34px;
    float: right;
    margin: 7px;
    transition: all 0.15s ease;
    box-shadow: 0 7px 7px rgba(0,0,0,0.7);
}

#reload_button {
    background-image: url('../class/imgs/reload.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

#reload_button::after {
    content: '再読み込み';
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

#reload_button:hover {
    background-image: none;
    background: #eee;
    content: '再読み込み';
    color: #121212;
    font-weight: bolder;
}

#reload_button:hover::after {opacity: 1;}

#logout_button {
    background-image: url('../class/imgs/logout.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

#logout_button::after {
    content: 'ログアウト';
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

#logout_button:hover {
    background-image: none;
    background: #eee;
    content: "ログアウト";
    color: #ff4b4b;
    font-weight: bolder;
}

#logout_button:hover::after {opacity: 1;}

.modal_buttons:hover {
    cursor: pointer;
    width: 195px; height: 47px;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spinner {
    border: 7px solid #eee;
    border-top: 7px solid #f39121;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.7s linear infinite;
}