html,
body {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

#all {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    top: 0;
    left: 0;
    width: 100%;
    height: 18%;
    margin: 0;
    display: flex;
    position: relative;
    text-align: center;
    background-color: #333;
}

#title h1 {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 100%;
    cursor: default;
    color: #fff7dc;
    font-size: larger;
    position: absolute;
    font-weight: bolder;
    transform: translate(-50%, -50%);
}

#store_modal_button { display: none; }

#store_buttons {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #7d1f29;
}

#store_buttons button {
    width: 100%;
    border: none;
    color: #eee;
    padding: 7px 0;
    cursor: pointer;
    font-size: 1.3vw;
    background-color: #0000;
    transition: background-color .3s;
    font-family: 'Noto Serif JP', serif;
}

.home_btn {
    font-weight: bolder;
    font-size: 3vw !important;
}

#store_buttons button:hover {
    color: #99f;
}

#store_buttons button.active_tab {
    color: #99f;
    background-color: #eee3;
}

#products_window {
    width: 83%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    background-color: #fff7dc;
}

.company_title {
    width: 100%;
    height: 50%;
    position: relative;
}

img.company_img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    filter: brightness(60%);
}

.title_text {
    left: 50%;
    margin: 0;
    color: #fff;
    cursor: default;
    position: absolute;
    text-align: center;
    text-shadow: 5px 5px 5px #88e;
    transform: translate(-50%, -50%);
}

h1.title_text {
    top: 50%;
    width: 76%;
    font-size: 5vw;
    font-weight: bolder;
}

h3.title_text {
    top: 67%;
    width: 18%;
    font-size: 1.7vw;
}

/* コンテンツ */
.contents {
    width: 100%;
    height: 100%;
    display: none;
}

.contents.show {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_btns {
    width: 37%;
    margin: 34px;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: larger;
    transition: all .3s;
    border-radius: 18px;
    font-weight: bolder;
    background-color: #77f;
    box-shadow: 3px 3px 3px #333;
    font-family: 'Noto Serif JP', serif;
}

.form_btns:hover {
    background-color: #55f;
}

.products {
    width: 100%;
    gap: 7px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.products_card {
    width: 95%;
    height: 700px;
    margin: 18px;
    position: relative;
    border-radius: 18px;
    background-color: #eef;
    box-shadow: 0 0 7px #333;
}

/* カード内コンテンツ */
.products_img {
    width: 95%;
    margin: 2.5%;
    position: absolute;
    border-radius: 18px;
}

.pro_info {
    top: 334px;
    left: 50%;
    bottom: 0;
    width: 95%;
    text-align: left;
    position: absolute;
    transform: translateX(-50%);
}

.pro_title {
    font-weight: bolder;
    margin: 0;
}

.pro_desc {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    font-size: 18px;
    border-radius: 7px;
    border: #77f solid 0.1px;
}

.stock {
    font-size: large;
    margin: 0;
}

.price {
    color: #f55;
}

/* スクロールバー */
#store_buttons::-webkit-scrollbar,
#products_window::-webkit-scrollbar {
    width: 10px;
}

#store_buttons::-webkit-scrollbar-track,
#products_window::-webkit-scrollbar-track {
    background: transparent;
}

#store_buttons::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #eee7;
}

#store_buttons::-webkit-scrollbar-thumb:hover {
    background-color: #eeea;
}

#products_window::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #5557;
}

#products_window::-webkit-scrollbar-thumb:hover {
    background-color: #555a;
}

/* chrome book 画面分割時 */
@media (min-width: 650px) and (max-width: 800px) {
    #title {
        height: 7%;
    }

    #title h1 {
        font-size: 1.48vh;
    }

    #store_buttons button {
        width: 100%;
        border: none;
        color: #eee;
        padding: 7px 0;
        cursor: pointer;
        font-size: 1.5vw;
        background-color: none;
        transition: background-color .3s;
        font-family: 'Noto Serif JP', serif;
    }

    .home_btn {
        font-weight: bolder;
        font-size: 3vw !important;
    }

    #store_buttons button:hover {
        color: #99f;
    }

    #store_buttons button.active_tab {
        color: #99f;
        background-color: #eee3;
    }

    .products {
        width: 100%;
        gap: 7px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    h1.title_text {
        top: 50%;
        width: 76%;
        font-size: 6.3vw;
        font-weight: bolder;
    }

    h3.title_text {
        top: 67%;
        width: auto;
        font-size: 2vw;
    }

    .products_card {
        width: 95%;
        height: 700px;
        margin: 18px;
        position: relative;
        border-radius: 18px;
        background-color: #eef;
        box-shadow: 0 0 7px #333;
    }

    .pro_info {
        top: 335px;
        left: 50%;
        bottom: 0;
        width: 95%;
        text-align: left;
        position: absolute;
        transform: translateX(-50%);
    }

    .form_btns {
        width: 95%;
        margin: 34px;
        border: none;
        color: #eee;
        cursor: pointer;
        font-size: larger;
        transition: all .3s;
        border-radius: 18px;
        font-weight: bolder;
        background-color: #77f;
        box-shadow: 3px 3px 3px #333;
        font-family: 'Noto Serif JP', serif;
    }
}

/* スマホ */
@media (max-width: 600px) {
    html, body, #all {
        width: 100vw;
        height: 100vh;
    }

    #left {
        width: 70%;
        height: 100%;
        display: none;
        flex-direction: column;
    }

    #left.show {
        display: flex;
        position: absolute;
        z-index: 9998;
        box-shadow: 0 0 7px #333;
    }

    #store_buttons {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #7d1f29;
        display: none;
    }

    #store_buttons.show {
        display: flex;
        flex-direction: column;
    }

    #title { display: none; }


    #store_modal_button {
        display: flex;
        margin: 0;
        position: absolute;
        background-color: #7d1f29;
        border: #eee solid 1px;
        width: 50px; height: 50px;
        font-size: 300%;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        color: #eee;
        transform: translateX(0);
    }

    #store_modal_button::before {
        content: '≡';
    }

    #store_modal_button.show::before {
        content: '×';
    }

    .home_btn {
        margin-top: 60px;
        font-weight: bolder;
        font-size: 13vw !important;
    }

    #store_buttons button {
        width: 100%;
        border: none;
        color: #eee;
        padding: 7px 0;
        cursor: pointer;
        font-size: 5vw;
        background-color: #0000;
        transition: background-color .3s;
        font-family: 'Noto Serif JP', serif;
    }

    .company_title {
        width: 100%;
        height: 34%;
        position: relative;
    }

    img.company_img {
        width: 100vw;
        height: 29vh;
        margin: 0 auto;
        filter: brightness(60%);
    }

    #products_window {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: center;
        background-color: #fff7dc;
    }

    .products {
        width: 100%;
        gap: 7px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    h1.title_text {
        top: 50%;
        width: 76%;
        font-size: 6vw;
        font-weight: bolder;
    }

    h3.title_text {
        top: 67%;
        width: auto;
        font-size: 2.4vw;
    }
    .products_card {
        width: 95%;
        height: 700px;
        margin: 18px;
        position: relative;
        border-radius: 18px;
        background-color: #eef;
        box-shadow: 0 0 7px #333;
    }

    .pro_info {
        top: 240px;
        left: 50%;
        bottom: 0;
        width: 95%;
        text-align: left;
        position: absolute;
        transform: translateX(-50%);
    }

    .form_btns {
        width: 95%;
        margin: 34px;
        border: none;
        color: #eee;
        cursor: pointer;
        font-size: large;
        transition: all .3s;
        border-radius: 18px;
        font-weight: bolder;
        background-color: #77f;
        box-shadow: 3px 3px 3px #333;
        font-family: 'Noto Serif JP', serif;
    }
}
