html, body {
    width: 100vw; height: 100vh;
    inset: 0;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

#all {
    width: 100vw; height: 100vh;
    display: flex;
}

#left {
    width: 17%; height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    width: 100%; height: 18%;
    inset: 0;
    margin: 0;
    display: flex;
    position: relative;
    text-align: center;
    background-color: #333;
}

#title h1 {
    margin: 0;
    width: 100%;
    cursor: default;
    color: #fff7dc;
    font-size: larger;
    inset: 50% 0 0 50%;
    position: absolute;
    font-weight: bolder;
    transform: translate(-50%, -50%);
}

#store_modal_button { display: none; }

#store_buttons {
    width: 100%; height: 100%;
    max-height: 100%;
    overflow: hidden auto;
    background-color: #7d1f29;
}

#store_buttons button {
    width: 100%;
    border: none;
    color: #eee;
    padding: 7px 0;
    cursor: pointer;
    font-size: 1.2vw;
    border-radius: 18px;
    background-color: #0000;
    transition: background-color .3s;
    font-family: 'Noto Serif JP', serif;
}

.home_btn {
    font-weight: bolder;
    font-size: 3vw !important;
}

#store_buttons button:hover { color: #f70; }

#store_buttons button.active_tab {
    color: #f70;
    background-color: #eee3;
}

#products_window {
    width: 83%; height: 100%;
    max-height: 100%;
    overflow: hidden auto;
    justify-content: center;
    background-color: #fff7dc;
}

.info { width: 100%; }

.company_title {
    width: 100%; height: 50%;
    position: relative;
}

img.company_img {
    width: 100%; height: 100%;
    margin: 0 auto;
    filter: brightness(60%);
}

.title_text, .home_text {
    top: 50%; left: 50%;
    margin: 0;
    width: 100%;
    color: #fff;
    cursor: default;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1.title_text, .home_text h1 {
    top: 50%;
    width: 100%;
    font-size: 5vw;
    font-weight: bolder;
}

h3.title_text, .home_text h3 {
    top: 67%;
    width: 100%;
    font-size: 1.7vw;
}

/* コンテンツ */
.contents {
    width: 100%; height: 100%;
    display: none;
}

.contents.show {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_btns {
    width: 37%;
    margin: 34px;
    border: none;
    color: #eee;
    cursor: pointer;
    transition: .3s;
    font-size: larger;
    font-weight: bolder;
    border-radius: 18px;
    box-shadow: 3px 3px 3px #333;
    font-family: 'Noto Serif JP', serif;
}

.form_btns:hover { filter: brightness(93%); }

.products {
    gap: 7px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.products_card {
    width: 95%; height: 700px;
    margin: 18px;
    position: relative;
    border-radius: 18px;
    box-shadow: 0 0 7px #333;
}

/* カード内コンテンツ */
.products_img {
    width: auto; height: 100%;
    max-width: 95%; max-height: 300px;
    left: 50%;
    margin: 2.5% 0;
    display: block;
    position: absolute;
    object-fit: contain;
    border-radius: 18px;
    transform: translateX(-50%);
}

.pro_info {
    width: 95%;
    text-align: left;
    position: absolute;
    inset: 334px 0 0 50%;
    transform: translateX(-50%);
}

.pro_title {
    margin: 0;
    font-weight: bolder;
}

.pro_desc {
    height: 45%;
    display: flex;
    color: #000;
    font-size: 18px;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
}

.stock {
    margin: 0;
    font-size: large;
}

.price { color: #f55; }

/* スクロールバー */
#store_buttons::-webkit-scrollbar, #products_window::-webkit-scrollbar { width: 10px; }

#store_buttons::-webkit-scrollbar-track, #products_window::-webkit-scrollbar-track { background: transparent; }

#store_buttons::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #eee7;
}

#store_buttons::-webkit-scrollbar-thumb:hover { background-color: #eeea; }

#products_window::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #5557;
}

#products_window::-webkit-scrollbar-thumb:hover { background-color: #555a; }

/* 追加home等 */
.info p { margin: 18px; }

.info {
    font-size: 1.5vw;
    font-family: 'Noto Serif JP', serif;
}

.home_text { text-shadow: 7px 7px 7px #f70; }
thead th:last-child { border-top-right-radius: 18px; }
thead th:first-child { border-top-left-radius: 18px; }
.schedule tbody th:nth-child(1) { border-right: 2px solid #ffb366; }

.problem tbody th:nth-child(2) {
    border-left: 2px solid #ffb366;
    border-right: 2px solid #ffb366;
}

table {
    width: 99%;
    cursor: default;
    overflow: hidden;
    border-spacing: 0;
    border-radius: 18px;
    background-color: #fff;
    border-collapse: separate;
    border: 2px solid #ffb366;
    box-shadow: 7px 7px 12px #f904;
}

caption {
    font-size: 1.4em;
    color: #e67e22;
    caption-side: top;
    font-weight: bolder;
    margin-bottom: 12px;
    text-shadow: 0 1px 2px #e67e224d;
}

thead th {
    padding: 10px;
    color: #fff;
    font-size: 1.05em;
    text-shadow: 0 1px 2px #0003;
    border-bottom: 3px solid #e67e22;
    background: linear-gradient(90deg, #f70, #f50);
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffd9b3;
}

.copyright { float: right; }
table tr, table th { font-weight: normal; }
tbody tr:nth-child(even) { background-color: #ffe0bc; }


/* chrome book 画面分割時 */
@media (min-width: 650px) and (max-width: 800px) {
    #title { height: 7%; }
    .pro_info { top: 335px; }
    .form_btns { width: 50%; }
    #title h1 { font-size: 1.38vh; }
    .home_btn { font-size: 3vw !important; }
    #store_buttons button { font-size: 1.2vw; }
    h3.title_text, .home_text h3 { font-size: 2vw; }
    h1.title_text, .home_text h1 { font-size: 6.2vw; }
    .products { grid-template-columns: repeat(1, 1fr); }
    h1.title_text, .home_text h1, h3.title_text, .home_text h3 { width: 100%; }
}

/* 大画面PC等 */
@media (min-width: 1700px) {
    .pro_info { top: 430px; }
    .home_btn { font-size: 5vw; }
    #title h1 { font-size: 2.4vh; }
    .products_card { height: 795px; }
    .products_img { max-height: 370px; }
    #store_buttons button { font-size: 1.2vw; }
}

/* スマホ */
@media (max-width: 600px) {
    table { font-size: 3vw; }
    #title { display: none; }
    .pro_info { top: 224px; }
    .info p { font-size: 5vw; }
    .company_title { height: 34%; }
    .products_card { height: 700px; }
    #products_window { width: 100%; }
    .products_img { max-height: 200px; }
    table tr, table th { font-size: 2.6vw; }
    #store_buttons button { font-size: 5vw; }
    #store_modal_button::before { content: '≡'; }
    img.company_img { width: 100vw; height: 29vh; }
    html, body, #all { width: 100vw; height: 100vh; }
    h1.title_text, .home_text h1 { font-size: 6.7vw; }
    #store_modal_button.show::before { content: '×'; }
    .products { grid-template-columns: repeat(1, 1fr); }

    #left {
        width: 70%; height: 100%;
        display: none;
        flex-direction: column;
    }

    #left.show {
        z-index: 9998;
        display: flex;
        position: absolute;
        box-shadow: 0 0 7px #333;
    }

    #store_buttons {
        width: 100%; height: 100%;
        display: none;
        max-height: 100%;
        overflow: hidden auto;
        background-color: #7d1f29;
    }

    #store_buttons.show {
        display: flex;
        flex-direction: column;
    }

    #store_modal_button {
        width: 50px; height: 50px;
        margin: 0;
        z-index: 9999;
        display: flex;
        color: #eee;
        font-size: 300%;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        border: #eee solid 1px;
        background-color: #7d1f29;
    }

    .home_btn {
        margin-top: 60px;
        font-size: 13vw !important;
    }

    h3.title_text, .home_text h3 {
        width: 100%;
        font-size: 2.4vw;
    }

    .form_btns {
        width: 95%;
        font-size: large;
    }
}
