#title_tab {
    top: 0; left: 0;
    width: 100%;
    position: fixed;
    background-color: #f70;
}

#store_tab {
    background-color: blue;
    
}

#products_tab {
    background-color: red;
}

body {
    color: white;
    font-family: 'Noto Serif JP', serif;
}
