/* ======= CSS 変数 ======= */
:root {
    /* カラー */
    --color-orange: #f80;
    --color-orange-hover: #fa0;
    --color-orange-border: #f70;
    --color-red: #f00;

    --color-bg-dark: #121212;
    --color-bg-mid: #333;
    --color-bg-light: #444;

    --color-text-light: #eee;
    --color-text-blue: #2f63ff;
    --color-text-red: #ff3737;

    --color-border-gray: #808080;

    /* レイアウト */
    --radius: 18px;
    --shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

/* ======= ベース ======= */
body { background-color: var(--color-bg-mid); }

#title {
    width: 99%; height: 95px;
    top: 0; left: 0;
    border: 7px solid var(--color-bg-dark);
    background-color: var(--color-bg-dark);
    position: fixed;
    border-bottom: none;
}

#title_display, p {
    margin: 3px 0 3px 7px;
    color: var(--color-text-light);
    display: inline-block;
}

#title_display {
    font-size: 195%;
    font-weight: bolder;
}

#total_display { margin-top: 11px; }

#time_display_text { 
    float: right;
    text-align: right;
}

p { font-size: 118%; }

#body { padding-top: 100px; }

/* ======= タブ ======= */
#tab_buttons {
    top: 0; left: 0;
    width: 99%;
    margin-top: 101px;
    background-color: var(--color-bg-dark);
    border: 7px solid var(--color-bg-dark);
    border-top: 1px solid var(--color-border-gray);
    display: flex;
    position: fixed;
    border-bottom: none;
}

#tab_buttons button {
    border: 1px solid var(--color-border-gray);
    padding: 6px 24px;
    border-radius: 7px 7px 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    font-size: 103%;
    transition: 0.15s;
    cursor: pointer;
    font-weight: bolder;
}

#tab_buttons button.active_tab {
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    z-index: 3;
}

#tab_buttons button.active_tab:hover { background-color: var(--color-orange); }
#tab_buttons button:hover { background-color: #430; }

/* ======= タブコンテンツ ======= */
.tab_content {
    width: 99%; height: auto;
    top: 0; left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 7px solid var(--color-bg-mid);
    border-top: 1px solid var(--color-border-gray);
    margin-top: 135px;
    background-color: var(--color-bg-mid);
    display: none;
    position: fixed;
}

.tab_content.show {
    display: flex;
    flex-direction: column;
}

/* ======= テーブル ======= */
table {
    width: 98.5%;
    height: 34px;
    box-shadow: var(--shadow);
    margin: 7px;
    border-radius: var(--radius);
    color: var(--color-text-light);
    background-color: var(--color-bg-mid);
    border-spacing: 0;
    font-size: 124%;
}

table tr:nth-child(even) { background-color: var(--color-bg-light); }

table th {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange-border);
}

table th:first-child { border-radius: var(--radius) 0 0 0; }
table th:last-child { border-radius: 0 var(--radius) 0 0; }

table td {
    border-right: 1px solid var(--color-orange);
    border-bottom: 1px solid var(--color-orange);
}

table td:last-child select {
    width: 53%; height: 70%;
    color: var(--color-bg-dark);
    border-radius: var(--radius);
    font-size: 2vh;
    text-align: center;
    font-weight: bolder;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

table td:first-child {
    border-left: 1px solid var(--color-orange);
    padding: 3px 0 3px 18px;
}

table tr:last-child td:first-child { border-bottom-left-radius: var(--radius); }
table tr:last-child td:last-child { border-bottom-right-radius: var(--radius); }

table th:nth-child(1), table td:nth-child(1) { width: 65%; }
table th:nth-child(2), table td:nth-child(2) { width: 35%; }

.company_total_display_text { margin-left: 7px; }


.company_total_display_text_company_name {
    font-size: larger;
    font-weight: bolder;
}

.tab_contents_table_tbody_td_sales_pulldown {
    width: 18px; height: 18px;
    cursor: pointer;
}

/* ======= 上部ボタン ======= */
.modal_buttons {
    width: 47px; height: 47px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 7px;
    background: var(--color-orange-hover);
    color: var(--color-text-light);
    transition: all 0.15s ease;
    border: none;
    float: right;
    font-weight: bolder;
}

#search_icon, #reload_icon{
    font-size: 34px;
    opacity: 1;
}

#search_button:hover #search_icon, #reload_button:hover #reload_icon, #logout_button:hover #logout_icon { display: none; }

#search_button:hover::after, #reload_button:hover::after, #logout_button:hover::after {
    font-size: 20px;
    transition: 0.2s ease;
    opacity: 1;
}

#search_button::after {
    content: '商品検索';
    font-size: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: absolute;
    text-align: center;
}

#reload_button::after {
    content: '再読み込み';
    font-size: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: absolute;
    text-align: center;
}

#logout_icon {
    font-size: 34px;
    color: var(--color-red);
    opacity: 1;
}

#logout_button::after {
    content: 'ログアウト';
    font-size: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: var(--color-red);
    pointer-events: none;
    position: absolute;
    text-align: center;
}

.modal_buttons:hover {
    width: 195px; height: 47px;
    cursor: pointer;
}

/* ======= ローディングスピナー ======= */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    width: 100vw; height: 100vh;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* display: none; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spinner {
    width: 70px; height: 70px;
    border-radius: 50%;
    border: 7px solid var(--color-text-light);
    border-top: 7px solid var(--color-orange);
    animation: spin 0.7s linear infinite;
}

/* ======= モーダル類 ======= */
/* 商品検索 */
#search_modal_back, #logout_modal_back {
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    z-index: 4;
    opacity: 0;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#search_modal_back.show, #logout_modal_back.show {
    opacity: 1;
    display: flex;
}

#search_modal, #logout_modal {
    width: 567px; height: 287px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--color-bg-mid);
    z-index: 5;
    align-items: flex-start;
    position: relative;
}

#search_input {
    width: 70%; height: 10%;
    top: 50%; left: 50%;
    transform: translate(-50%, -180%);
    background-color: var(--color-text-light);
    color: var(--color-bg-dark);
    position: absolute;
}

#search, #search_reset, #ok_button, #cancel_button {
    width: 34%; height: 17%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    font-size: 24px;
    background-color: var(--color-orange);
    color: var(--color-text-light);
    transition: 0.3s ease;
    z-index: 7;
    font-weight: bolder;
}

#search { margin-left: 18px; }

#search_reset {
    margin-left: 14%;
    margin-top: 200px
}

#search:hover, #search_reset:hover, #ok_button:hover, #cancel_button:hover { background-color: var(--color-orange-hover); }

#search_title::before {
    content: '商品検索';
    font-size: 24px;
    margin-left: 7px;
    color: var(--color-text-light);
    font-weight: bolder;
}

#search_title, #logout_check_title {
    width: 100%; height: 13%;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: var(--color-orange);
    z-index: 6;
    position: absolute;
}

#search_close_button {
    height: 100%;
    border-radius: 0 17px 0 0;
    background-color: #0000;
    border: none;
    color: var(--color-text-light);
    float: right;
    text-align: right;
    transition: 0.15s;
}

#search_close_button:hover { background-color: var(--color-red); }

/* ログアウト */

#logout_modal h3 {
    margin: 18% 0 11% 7px;
    color: var(--color-text-light);
    font-size: 130%;
}

#logout_check_title::before {
    content: 'ログアウト確認';
    font-size: 24px;
    margin-left: 7px;
    color: var(--color-text-light);
    font-weight: bolder;
}

#ok_button {
    margin-left: 18px;
    color: var(--color-red);
}

#cancel_button { margin-left: 14%; }

/* スクロールバー */
.tab_content::-webkit-scrollbar { width: 7px; }

.tab_content::-webkit-scrollbar-track { background: transparent; }

.tab_content::-webkit-scrollbar-thumb {
    background-color: #f705;
    border-radius: 180px;
    transition: background-color 3s;
}

.tab_content::-webkit-scrollbar-thumb:hover { background-color: #f70e; }
